{% extends "page.twig" %}

{% block title %}{{ profile.battleTag }}{% endblock %}
{% block head %}
	<script type="text/javascript">account = {{ profile|json_encode()|raw }}</script>
{% endblock %}
{% block content %}
    <h1>{{ profile.battleTag }}</h1>
    <ul>
      {% for hero in profile.heroes %}
      	{% include 'includes/hero.twig' %}
      {% endfor %}
    </ul>
{% endblock %}