<html>
  <head>
    <title>{{ profile.battleTag }}</title>
  </head>
  <body>
    <h1>{{ profile.battleTag }}</h1>
    <br>
    <p>
      {% for hero in profile.heroes %}
        {{ hero.name }} [{{ hero.level }}]<br>
      {% endfor %}
    </p>
  </body>
</html>
