{% extends "page.twig" %}

{% block title %}Sharp#1324's Diablo 3 Toon Lister{% endblock %}
{% block content %}
  	<h1>Sharp#1324's Diablo 3 Toon Lister</h1>
  	<p>Start <a href="sharp-1324">here</a></p>
{% endblock %}